*{
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}
$input-margin: 20px;
$input-widht: 500px;
$input-height: 500px;
$heading-color : #f0f;

.main--header{
    margin: $input-margin;
    width: $input-widht;
    height: $input-height;
}
.test__h1{
    color:$heading-color;
}